        @charset "UTF-8";
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background-color: black;
            background-image: url(../img/fundo.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            font-family: "Times New Roman", Times, serif;
            color: white;
        }